<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--Описание модуля записи в логфайл-->
	<appender name="LogFileAppender" type="RMon.Logging.Appenders.RollingFileZipAppender, RMon.Logging">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<!--По умолчанию актуальные данные пишутся в конец этого файла-->
		<param name="File" value="logs/today.log" />
		<param name="AppendToFile" value="true" />
		<!--При достижении новых суток файл лога переименовывается в соответствии с шаблоном-->
		<rollingStyle value="Composite" />
		<datePattern value="yyyyMMdd'.log'" />
		<maximumFileSize value="20MB" />
		<maxSizeRollBackups value="100" />
		<!--Архивировать логи старше указанного количества дней. 1 – вчера. 0 – архивация отключена-->
		<zipFilesAfterDays value="1" />
		<!--Удалять логи старше указанного количества дней. 1 – вчера. 0 – удаление отключено-->
		<deleteFilesAfterDays value="0" />
		<!--Здесь можно определить, какая информация должна отображаться в логе. Подробности - http://logging.apache.org/log4net/ -->
		<layout type="RMon.Logging.Layout.ComfortLogForNetLayout, RMon.Logging">
			<param name="Pattern" value="%date %-5level Thread: %thread; Message: %message; %newline" />
			<param name="IncludeStackTrace" value="True" />
		</layout>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="RMon.ValuesExportImportService.ServiceBus.Common.BusLogger" />
			<acceptOnMatch value="false" />
		</filter>
	</appender>

	<appender name="Exchange" type="RMon.Logging.Appenders.RollingFileZipAppender, RMon.Logging">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<param name="File" value="logs/exchange.log" />
		<param name="AppendToFile" value="true" />
		<rollingStyle value="Composite" />
		<datePattern value="yyyyMMdd'.log'" />
		<maximumFileSize value="20MB" />
		<maxSizeRollBackups value="100" />
		<layout type="RMon.Logging.Layout.ComfortLogForNetLayout, RMon.Logging">
			<param name="Pattern" value="%date %-5level Thread: %thread; Message: %message; %newline" />
			<param name="IncludeStackTrace" value="False" />
		</layout>
	</appender>

	<root>
		<level value="ALL"/>
		<appender-ref ref="LogFileAppender"/>
	</root>

	<logger name="RMon.ValuesExportImportService.ServiceBus.Common.BusLogger">
		<level value="ALL"/>
		<appender-ref ref="Exchange"/>
	</logger>
</log4net>